{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>top heading</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, iure distinctio voluptas quia accusantium maiores qui, doloribus eum delectus nihil, quam ipsa quisquam vero dolore ab minima in aliquam quis?</p>
    <img src="{% static 'image/sam.JPG %}">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci, veritatis sed in natus soluta voluptatum officia minus, repudiandae nisi eius, dolorem voluptates quo. Fuga nam eum blanditiis, in dolores omnis?</p>
</body>
</html>